$primary: #ffffff;
$secondary: #141918;
$tertiary: rgb(155, 193, 230);
$button-color: rgb(76, 133, 178);
$header-background: #0d2335;
/* $tertiary: #fd6a01; */
$subtle: #8c8c8c;
$font-color: #000000;
$placeholder: #bdbdbd;

$font-body: "Roboto", sans-serif;

$font-roboto: "Roboto", sans-serif;
$font-syncopate: "Syncopate", sans-serif;
$font-style-script: "Style Script", cursive;
