.card-container-wrapper {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  width: 100vw;
  margin: 0 auto;
  padding: 0;
  @media (max-width: 1230px) {
    max-width: 900px;
  }
  @media (max-width: 930px) {
    max-width: 580px;
  }
  @media (max-width: 610px) {
    max-width: 275px;
  }
  .filter-cards {
    width: 100%;
    padding: 1.2rem;
  }
}
#card-container-category1 {
  margin-bottom: 1rem;
}
#card-container-category2 {
  margin-bottom: 2rem;
}
#card-container {
  margin-bottom: 2rem;
  .no-results {
    width: 100%;
    text-align: center;
    position: absolute;
    margin-top: 2rem;
  }
}
.card-container {
  position: relative;
  width: 100%; /* Adjusting for padding */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  gap: 20px;
  .card-listing {
    width: 275px !important;
    height: 275px !important;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: auto;
    .card-top-bar {
      padding-top: 16px !important;
      padding-inline: 16px !important;
      .timer-listing {
        color: #8c8c8c;
        font-weight: 600;
        font-size: 16px;
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
      .red {
        color: #bc3122;
      }
      .yellow {
        color: #f8c809;
      }
      .green {
        color: #4caf50;
      }
      .red-yellow {
        color: #e5705b;
      }
    }
    .card-top-bar-placeholder {
      padding-top: 16px !important;
      padding-inline: 16px !important;
      height: 40px;
      margin-bottom: 1rem !important;
    }
    .card-image-container {
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      width: 100% !important;
      overflow: hidden !important;
      height: 140px !important;
      img {
        width: 100%;
        height: 100%;
        margin-bottom: 16p !important;
        object-fit: cover !important;
      }
    }
    .card-text-container {
      padding: 16px !important;
      display: flex !important;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      .title-price-container {
        h3 {
          margin: 0 !important;
          padding: 0 !important;
          font-size: 14px !important;
        }
        p {
          padding-top: 0.2rem !important;
          margin: 0 !important;
          padding: 0 !important;
          font-size: 24px !important;
        }
      }
      .bid-button {
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ff4500 !important;
        color: white !important;
        border: none !important;
        padding: 10px 20px !important;
        border-radius: 5px !important;
        cursor: pointer !important;
        text-decoration: none !important;
      }
    }
    .card-text-container-placeholder {
      @extend .card-text-container;
      height: 84.8px !important;
    }
  }
}
#card-bid-button {
  img {
    margin: 0.3rem;
    transition: all 0.1s ease-in-out;
  }
  img:hover {
    transform: scale(1.02);
  }
}
