.card-container-wrapper {
  display: flex !important;
  flex-direction: column !important;
  .filter-cards {
    width: 100%;
    max-width: 1200px;
    padding: 1.2rem;
  }
}
.card-container {
  display: flex !important;
  flex-wrap: wrap !important;
  gap: 20px !important;
  justify-content: center !important;
  height: 100% !important;
  max-width: 1200px;
  .card-listing {
    width: 275px !important;
    height: 275px !important;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    .card-top-bar {
      padding-top: 16px !important;
      padding-inline: 16px !important;
      .timer-listing {
        color: #8c8c8c;
        font-weight: 600;
        font-size: 16px;
      }
      .red {
        color: #bc3122;
      }
      .yellow {
        color: #f8c809;
      }
      .green {
        color: #4caf50;
      }
      .red-yellow {
        color: #e5705b;
      }
    }
    .card-top-bar-placeholder {
      padding-top: 16px !important;
      padding-inline: 16px !important;
      height: 40px;
      margin-bottom: 1rem !important;
    }
    .card-image-container {
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      width: 100% !important;
      overflow: hidden !important;
      height: 140px !important;
      img {
        width: 100%;
        height: 100%;
        margin-bottom: 16p !important;
        object-fit: cover !important;
      }
    }
    .card-text-container {
      padding: 16px !important;
      display: flex !important;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      .title-price-container {
        h3 {
          margin: 0 !important;
          padding: 0 !important;
          font-size: 14px !important;
        }
        p {
          padding-top: 0.2rem !important;
          margin: 0 !important;
          padding: 0 !important;
          font-size: 24px !important;
        }
      }
      .bid-button {
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ff4500 !important;
        color: white !important;
        border: none !important;
        padding: 10px 20px !important;
        border-radius: 5px !important;
        cursor: pointer !important;
        text-decoration: none !important;
      }
    }
    .card-text-container-placeholder {
      @extend .card-text-container;
      height: 84.8px !important;
    }
  }
}
