.filter-cards {
  color: $subtle;
  font-weight: 500;
  left: -2rem;
  position: absolute !important;
  @media (max-width: 610px) {
    position: static !important;
  }
}
#filter-ending-soon {
  color: gray;
}
